version: '3.8'

services:
  questdb:
    container_name: questdb
    image: questdb/questdb:latest
    ports:
      - "9000:9000" # Web console + REST
      - "8812:8812" # PGWire
      - "9009:9009" # ILP (line protocol)
    volumes:
      - /opt/qdb:/var/lib/questdb
    restart: unless-stopped  
